openapi: 3.0.1
info:
  title: FACTSAPI
  description: API Endpoints for FACTS SIS
  version: ''
servers:
  - url: https://api.factsmgt.com
paths:
  '/api/Subscriptions/{subscriptionId}':
    get:
      tags:
        - Subscriptions
      summary: Gets Subscription information from cosmos
      description: Gets Subscription information from cosmos
      operationId: Subscriptions_GetSubscription
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalApiApimDocumentDtoArray'
              example:
                - id: String
                  name: String
                  apiHash: String
                  subscriptionId: String
                  districtId: 1
                  schoolId: 1
                  scopes: String
                  schoolName: String
                  districtName: String
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  /people/Address:
    get:
      tags:
        - Address
        - People
      summary: Gets a list of addresses
      description: Gets a list of addresses
      operationId: Address_GetAddresses
      parameters:
        - name: Filters
          in: query
          schema:
            type: string
        - name: Sorts
          in: query
          schema:
            type: string
        - name: Page
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: PageSize
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfAddressVM'
              example:
                results: [ ]
                currentPage: 1
                pageCount: 1
                pageSize: 1
                rowCount: 1
                nextPage: String
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    post:
      tags:
        - People
        - Address
      summary: Creates a new address
      description: Creates a new address
      operationId: Address_CreateAddress
      parameters:
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AddressVM'
            example:
              addressID: 1
              address1: String
              address2: String
              city: String
              state: String
              zip: String
              country: String
              modifiedBy: 1
              modifiedDate: '2020-01-01'
              greeting1: String
              greeting2: String
              greeting3: String
              greeting4: String
              greeting5: String
              newStudentInquiryID: 1
          application/json:
            schema:
              $ref: '#/components/schemas/AddressVM'
            example:
              addressID: 1
              address1: String
              address2: String
              city: String
              state: String
              zip: String
              country: String
              modifiedBy: 1
              modifiedDate: '2020-01-01'
              greeting1: String
              greeting2: String
              greeting3: String
              greeting4: String
              greeting5: String
              newStudentInquiryID: 1
          text/json:
            schema:
              $ref: '#/components/schemas/AddressVM'
            example:
              addressID: 1
              address1: String
              address2: String
              city: String
              state: String
              zip: String
              country: String
              modifiedBy: 1
              modifiedDate: '2020-01-01'
              greeting1: String
              greeting2: String
              greeting3: String
              greeting4: String
              greeting5: String
              newStudentInquiryID: 1
          application/*+json:
            schema:
              $ref: '#/components/schemas/AddressVM'
            example:
              addressID: 1
              address1: String
              address2: String
              city: String
              state: String
              zip: String
              country: String
              modifiedBy: 1
              modifiedDate: '2020-01-01'
              greeting1: String
              greeting2: String
              greeting3: String
              greeting4: String
              greeting5: String
              newStudentInquiryID: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressVM'
              example:
                addressID: 1
                address1: String
                address2: String
                city: String
                state: String
                zip: String
                country: String
                modifiedBy: 1
                modifiedDate: '2020-01-01'
                greeting1: String
                greeting2: String
                greeting3: String
                greeting4: String
                greeting5: String
                newStudentInquiryID: 1
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressVM'
              example:
                addressID: 1
                address1: String
                address2: String
                city: String
                state: String
                zip: String
                country: String
                modifiedBy: 1
                modifiedDate: '2020-01-01'
                greeting1: String
                greeting2: String
                greeting3: String
                greeting4: String
                greeting5: String
                newStudentInquiryID: 1
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  '/people/Address/{addressId}':
    get:
      tags:
        - People
        - Address
      summary: Gets a single address
      description: Gets a single address
      operationId: Address_GetAddressById
      parameters:
        - name: addressId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressVM'
              example:
                addressID: 1
                address1: String
                address2: String
                city: String
                state: String
                zip: String
                country: String
                modifiedBy: 1
                modifiedDate: '2020-01-01'
                greeting1: String
                greeting2: String
                greeting3: String
                greeting4: String
                greeting5: String
                newStudentInquiryID: 1
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    put:
      tags:
        - People
        - Address
      summary: Replaces an address
      description: Replaces an address
      operationId: Address_ReplaceAddress
      parameters:
        - name: addressId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AddressVM'
            example:
              addressID: 1
              address1: String
              address2: String
              city: String
              state: String
              zip: String
              country: String
              modifiedBy: 1
              modifiedDate: '2020-01-01'
              greeting1: String
              greeting2: String
              greeting3: String
              greeting4: String
              greeting5: String
              newStudentInquiryID: 1
          application/json:
            schema:
              $ref: '#/components/schemas/AddressVM'
            example:
              addressID: 1
              address1: String
              address2: String
              city: String
              state: String
              zip: String
              country: String
              modifiedBy: 1
              modifiedDate: '2020-01-01'
              greeting1: String
              greeting2: String
              greeting3: String
              greeting4: String
              greeting5: String
              newStudentInquiryID: 1
          text/json:
            schema:
              $ref: '#/components/schemas/AddressVM'
            example:
              addressID: 1
              address1: String
              address2: String
              city: String
              state: String
              zip: String
              country: String
              modifiedBy: 1
              modifiedDate: '2020-01-01'
              greeting1: String
              greeting2: String
              greeting3: String
              greeting4: String
              greeting5: String
              newStudentInquiryID: 1
          application/*+json:
            schema:
              $ref: '#/components/schemas/AddressVM'
            example:
              addressID: 1
              address1: String
              address2: String
              city: String
              state: String
              zip: String
              country: String
              modifiedBy: 1
              modifiedDate: '2020-01-01'
              greeting1: String
              greeting2: String
              greeting3: String
              greeting4: String
              greeting5: String
              newStudentInquiryID: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressVM'
              example:
                addressID: 1
                address1: String
                address2: String
                city: String
                state: String
                zip: String
                country: String
                modifiedBy: 1
                modifiedDate: '2020-01-01'
                greeting1: String
                greeting2: String
                greeting3: String
                greeting4: String
                greeting5: String
                newStudentInquiryID: 1
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    patch:
      tags:
        - People
        - Address
      summary: Update an address based on the json patch document
      description: Update an address based on the json patch document
      operationId: Address_UpdateAddress
      parameters:
        - name: addressId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          text/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/*+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressVM'
              example:
                addressID: 1
                address1: String
                address2: String
                city: String
                state: String
                zip: String
                country: String
                modifiedBy: 1
                modifiedDate: '2020-01-01'
                greeting1: String
                greeting2: String
                greeting3: String
                greeting4: String
                greeting5: String
                newStudentInquiryID: 1
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  /people/Demographic:
    get:
      tags:
        - Demographic
        - People
      summary: Gets a list of people demographic information
      description: Gets a list of people demographic information
      operationId: Demographic_GetPersonDemographics
      parameters:
        - name: Filters
          in: query
          schema:
            type: string
        - name: Sorts
          in: query
          schema:
            type: string
        - name: Page
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: PageSize
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPersonDemographicVM'
              example:
                results: [ ]
                currentPage: 1
                pageCount: 1
                pageSize: 1
                rowCount: 1
                nextPage: String
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  '/people/{personId}/Demographic':
    get:
      tags:
        - Demographic
        - People
      summary: Get a person's demographic information record
      description: Get a person's demographic information record
      operationId: Demographic_GetPersonDemographic
      parameters:
        - name: personId
          in: path
          description: 'Format - int32. The person id '
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonDemographicVM'
              example:
                personId: 1
                gender: female
                birthdate: '2020-01-01'
                ethnicity: String
                citizenship: USA
                maritalStatus: Married
                primaryLanguage: Welsh
                birthplace: String
                birthCity: Cardiff
                birthState: Wales
                birthCountry: UK
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    put:
      tags:
        - Demographic
        - People
      summary: Updates a person's demographic information
      description: Updates a person's demographic information
      operationId: Demographic_UpdatePersonDemographic
      parameters:
        - name: personId
          in: path
          description: Format - int32. The person id of the person being updated.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        description: 'The person entity with updates. '
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PersonDemographicVM'
            example:
              personId: 1
              gender: female
              birthdate: '2020-01-01'
              ethnicity: String
              citizenship: USA
              maritalStatus: Married
              primaryLanguage: Welsh
              birthplace: String
              birthCity: Cardiff
              birthState: Wales
              birthCountry: UK
          application/json:
            schema:
              $ref: '#/components/schemas/PersonDemographicVM'
            example:
              personId: 1
              gender: female
              birthdate: '2020-01-01'
              ethnicity: String
              citizenship: USA
              maritalStatus: Married
              primaryLanguage: Welsh
              birthplace: String
              birthCity: Cardiff
              birthState: Wales
              birthCountry: UK
          text/json:
            schema:
              $ref: '#/components/schemas/PersonDemographicVM'
            example:
              personId: 1
              gender: female
              birthdate: '2020-01-01'
              ethnicity: String
              citizenship: USA
              maritalStatus: Married
              primaryLanguage: Welsh
              birthplace: String
              birthCity: Cardiff
              birthState: Wales
              birthCountry: UK
          application/*+json:
            schema:
              $ref: '#/components/schemas/PersonDemographicVM'
            example:
              personId: 1
              gender: female
              birthdate: '2020-01-01'
              ethnicity: String
              citizenship: USA
              maritalStatus: Married
              primaryLanguage: Welsh
              birthplace: String
              birthCity: Cardiff
              birthState: Wales
              birthCountry: UK
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonDemographicVM'
              example:
                personId: 1
                gender: female
                birthdate: '2020-01-01'
                ethnicity: String
                citizenship: USA
                maritalStatus: Married
                primaryLanguage: Welsh
                birthplace: String
                birthCity: Cardiff
                birthState: Wales
                birthCountry: UK
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    patch:
      tags:
        - Demographic
        - People
      summary: Updates a person's demographic information based on the json patch document
      description: Updates a person's demographic information based on the json patch document
      operationId: Demographic_JsonPatchPersonDemographic
      parameters:
        - name: personId
          in: path
          description: 'Format - int32. The person id of the person being patched. '
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        description: 'The patch document with changes '
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          text/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/*+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonDemographicVM'
              example:
                personId: 1
                gender: female
                birthdate: '2020-01-01'
                ethnicity: String
                citizenship: USA
                maritalStatus: Married
                primaryLanguage: Welsh
                birthplace: String
                birthCity: Cardiff
                birthState: Wales
                birthCountry: UK
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  /people/DirectoryPreferences:
    get:
      tags:
        - Directory Preferences
        - People
      summary: Gets a list of people's directory preferences
      description: Gets a list of people's directory preferences
      operationId: DirectoryPreferences_GetDirectoryPreferences
      parameters:
        - name: Filters
          in: query
          schema:
            type: string
        - name: Sorts
          in: query
          schema:
            type: string
        - name: Page
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: PageSize
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfDirectoryPreferencesVmOut'
              example:
                results: [ ]
                currentPage: 1
                pageCount: 1
                pageSize: 1
                rowCount: 1
                nextPage: String
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  '/people/{personId}/DirectoryPreferences':
    get:
      tags:
        - Directory Preferences
        - People
      summary: Gets a single person's directory preferences information
      description: Gets a single person's directory preferences information
      operationId: DirectoryPreferences_GetDirectoryPreferencesById
      parameters:
        - name: personId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryPreferencesVmOut'
              example:
                blockName: false
                blockCellPhone: false
                blockHomePhone: false
                blockAddress: false
                blockEmail: false
                personId: 0
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    put:
      tags:
        - People
        - Directory Preferences
      summary: Replaces a person's directory preferences information
      description: Replaces a person's directory preferences information
      operationId: DirectoryPreferences_ReplaceDirectoryPreferences
      parameters:
        - name: personId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DirectoryPreferencesVmIn'
            example:
              blockName: false
              blockCellPhone: false
              blockHomePhone: false
              blockAddress: false
              blockEmail: false
          application/json:
            schema:
              $ref: '#/components/schemas/DirectoryPreferencesVmIn'
            example:
              blockName: false
              blockCellPhone: false
              blockHomePhone: false
              blockAddress: false
              blockEmail: false
          text/json:
            schema:
              $ref: '#/components/schemas/DirectoryPreferencesVmIn'
            example:
              blockName: false
              blockCellPhone: false
              blockHomePhone: false
              blockAddress: false
              blockEmail: false
          application/*+json:
            schema:
              $ref: '#/components/schemas/DirectoryPreferencesVmIn'
            example:
              blockName: false
              blockCellPhone: false
              blockHomePhone: false
              blockAddress: false
              blockEmail: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryPreferencesVmOut'
              example:
                blockName: false
                blockCellPhone: false
                blockHomePhone: false
                blockAddress: false
                blockEmail: false
                personId: 0
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    patch:
      tags:
        - People
        - Directory Preferences
      summary: Update a person's directory preferences information based on the json patch document
      description: Update a person's directory preferences information based on the json patch document
      operationId: DirectoryPreferences_UpdateDirectoryPreferences
      parameters:
        - name: personId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          text/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/*+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryPreferencesVmOut'
              example:
                blockName: false
                blockCellPhone: false
                blockHomePhone: false
                blockAddress: false
                blockEmail: false
                personId: 0
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  /Education:
    get:
      tags:
        - People
        - Education
      summary: Gets a list of people education information
      description: Gets a list of people education information
      operationId: Education_GetPersonEducation
      parameters:
        - name: Filters
          in: query
          schema:
            type: string
        - name: Sorts
          in: query
          schema:
            type: string
        - name: Page
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: PageSize
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEducationVmOut'
              example:
                results: [ ]
                currentPage: 1
                pageCount: 1
                pageSize: 1
                rowCount: 1
                nextPage: String
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  '/Education/{educationId}':
    get:
      tags:
        - People
        - Education
      summary: Get a person's education record
      description: Get a person's education record
      operationId: Education_GetPersonEducationById
      parameters:
        - name: educationId
          in: path
          description: 'Format - int32. The education record id '
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationVmOut'
              example:
                personId: 1
                degreeSchool: Name
                degreeName: String
                degreeYear: 2020
                educationLevel: 1
                degreeType: Associates
                educationId: 1
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    put:
      tags:
        - Education
        - People
      summary: Updates a person's education information
      description: Updates a person's education information
      operationId: Education_ReplacePersonEducation
      parameters:
        - name: educationId
          in: path
          description: Format - int32. The education id of the record being updated.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        description: 'The person entity with updates. '
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EducationVmIn'
            example:
              personId: 1
              degreeSchool: Name
              degreeName: String
              degreeYear: 2020
              educationLevel: 1
              degreeType: Associates
          application/json:
            schema:
              $ref: '#/components/schemas/EducationVmIn'
            example:
              personId: 1
              degreeSchool: Name
              degreeName: String
              degreeYear: 2020
              educationLevel: 1
              degreeType: Associates
          text/json:
            schema:
              $ref: '#/components/schemas/EducationVmIn'
            example:
              personId: 1
              degreeSchool: Name
              degreeName: String
              degreeYear: 2020
              educationLevel: 1
              degreeType: Associates
          application/*+json:
            schema:
              $ref: '#/components/schemas/EducationVmIn'
            example:
              personId: 1
              degreeSchool: Name
              degreeName: String
              degreeYear: 2020
              educationLevel: 1
              degreeType: Associates
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationVmOut'
              example:
                personId: 1
                degreeSchool: Name
                degreeName: String
                degreeYear: 2020
                educationLevel: 1
                degreeType: Associates
                educationId: 1
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    patch:
      tags:
        - Education
        - People
      summary: Updates a person's education information based on the json patch document
      description: Updates a person's education information based on the json patch document
      operationId: Education_UpdatePersonEducation
      parameters:
        - name: educationId
          in: path
          description: 'Format - int32. The education id of the record being patched. '
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        description: 'The patch document with changes '
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          text/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/*+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationVmOut'
              example:
                personId: 1
                degreeSchool: Name
                degreeName: String
                degreeYear: 2020
                educationLevel: 1
                degreeType: Associates
                educationId: 1
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  /people/EmergencyContact:
    get:
      tags:
        - Emergency Contact
        - People
      summary: Gets a list of emergencyContacts
      description: Gets a list of emergencyContacts
      operationId: EmergencyContact_GetEmergencyContacts
      parameters:
        - name: Filters
          in: query
          schema:
            type: string
        - name: Sorts
          in: query
          schema:
            type: string
        - name: Page
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: PageSize
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmergencyContactVM'
              example:
                results: [ ]
                currentPage: 1
                pageCount: 1
                pageSize: 1
                rowCount: 1
                nextPage: String
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    post:
      tags:
        - Emergency Contact
        - People
      summary: Creates a new emergencyContact
      description: Creates a new emergencyContact
      operationId: EmergencyContact_CreateEmergencyContact
      parameters:
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EmergencyContactVM'
            example:
              emergencyContactID: 1
              firstName: String
              lastName: String
              middleName: String
              salutation: String
              suffix: String
              homePhone: String
              cellPhone: String
              email: String
              relationship: String
              workPhone: String
              studentID: 1
              sortOrder: 1
              refID: 1
              note: String
              countryCode: String
              portalSortOrder: 1
          application/json:
            schema:
              $ref: '#/components/schemas/EmergencyContactVM'
            example:
              emergencyContactID: 1
              firstName: String
              lastName: String
              middleName: String
              salutation: String
              suffix: String
              homePhone: String
              cellPhone: String
              email: String
              relationship: String
              workPhone: String
              studentID: 1
              sortOrder: 1
              refID: 1
              note: String
              countryCode: String
              portalSortOrder: 1
          text/json:
            schema:
              $ref: '#/components/schemas/EmergencyContactVM'
            example:
              emergencyContactID: 1
              firstName: String
              lastName: String
              middleName: String
              salutation: String
              suffix: String
              homePhone: String
              cellPhone: String
              email: String
              relationship: String
              workPhone: String
              studentID: 1
              sortOrder: 1
              refID: 1
              note: String
              countryCode: String
              portalSortOrder: 1
          application/*+json:
            schema:
              $ref: '#/components/schemas/EmergencyContactVM'
            example:
              emergencyContactID: 1
              firstName: String
              lastName: String
              middleName: String
              salutation: String
              suffix: String
              homePhone: String
              cellPhone: String
              email: String
              relationship: String
              workPhone: String
              studentID: 1
              sortOrder: 1
              refID: 1
              note: String
              countryCode: String
              portalSortOrder: 1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmergencyContactVM'
              example:
                emergencyContactID: 1
                firstName: String
                lastName: String
                middleName: String
                salutation: String
                suffix: String
                homePhone: String
                cellPhone: String
                email: String
                relationship: String
                workPhone: String
                studentID: 1
                sortOrder: 1
                refID: 1
                note: String
                countryCode: String
                portalSortOrder: 1
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  '/people/EmergencyContact/{emergencyContactId}':
    get:
      tags:
        - Emergency Contact
        - People
      summary: Gets a single emergencyContact
      description: Gets a single emergencyContact
      operationId: EmergencyContact_GetEmergencyContactById
      parameters:
        - name: emergencyContactId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmergencyContactVM'
              example:
                emergencyContactID: 1
                firstName: String
                lastName: String
                middleName: String
                salutation: String
                suffix: String
                homePhone: String
                cellPhone: String
                email: String
                relationship: String
                workPhone: String
                studentID: 1
                sortOrder: 1
                refID: 1
                note: String
                countryCode: String
                portalSortOrder: 1
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    put:
      tags:
        - Emergency Contact
        - People
      summary: Replaces an emergencyContact
      description: Replaces an emergencyContact
      operationId: EmergencyContact_ReplaceEmergencyContact
      parameters:
        - name: emergencyContactId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EmergencyContactVM'
            example:
              emergencyContactID: 1
              firstName: String
              lastName: String
              middleName: String
              salutation: String
              suffix: String
              homePhone: String
              cellPhone: String
              email: String
              relationship: String
              workPhone: String
              studentID: 1
              sortOrder: 1
              refID: 1
              note: String
              countryCode: String
              portalSortOrder: 1
          application/json:
            schema:
              $ref: '#/components/schemas/EmergencyContactVM'
            example:
              emergencyContactID: 1
              firstName: String
              lastName: String
              middleName: String
              salutation: String
              suffix: String
              homePhone: String
              cellPhone: String
              email: String
              relationship: String
              workPhone: String
              studentID: 1
              sortOrder: 1
              refID: 1
              note: String
              countryCode: String
              portalSortOrder: 1
          text/json:
            schema:
              $ref: '#/components/schemas/EmergencyContactVM'
            example:
              emergencyContactID: 1
              firstName: String
              lastName: String
              middleName: String
              salutation: String
              suffix: String
              homePhone: String
              cellPhone: String
              email: String
              relationship: String
              workPhone: String
              studentID: 1
              sortOrder: 1
              refID: 1
              note: String
              countryCode: String
              portalSortOrder: 1
          application/*+json:
            schema:
              $ref: '#/components/schemas/EmergencyContactVM'
            example:
              emergencyContactID: 1
              firstName: String
              lastName: String
              middleName: String
              salutation: String
              suffix: String
              homePhone: String
              cellPhone: String
              email: String
              relationship: String
              workPhone: String
              studentID: 1
              sortOrder: 1
              refID: 1
              note: String
              countryCode: String
              portalSortOrder: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmergencyContactVM'
              example:
                emergencyContactID: 1
                firstName: String
                lastName: String
                middleName: String
                salutation: String
                suffix: String
                homePhone: String
                cellPhone: String
                email: String
                relationship: String
                workPhone: String
                studentID: 1
                sortOrder: 1
                refID: 1
                note: String
                countryCode: String
                portalSortOrder: 1
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    patch:
      tags:
        - People
        - Emergency Contact
      summary: Update an emergencyContact based on the json patch document
      description: Update an emergencyContact based on the json patch document
      operationId: EmergencyContact_UpdateEmergencyContact
      parameters:
        - name: emergencyContactId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          text/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/*+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmergencyContactVM'
              example:
                emergencyContactID: 1
                firstName: String
                lastName: String
                middleName: String
                salutation: String
                suffix: String
                homePhone: String
                cellPhone: String
                email: String
                relationship: String
                workPhone: String
                studentID: 1
                sortOrder: 1
                refID: 1
                note: String
                countryCode: String
                portalSortOrder: 1
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  /people/ParentAlert:
    get:
      tags:
        - People
        - Parent Alert
      summary: Gets a list of people parent alert information
      description: Gets a list of people parent alert information
      operationId: ParentAlert_GetParentAlert
      parameters:
        - name: Filters
          in: query
          schema:
            type: string
        - name: Sorts
          in: query
          schema:
            type: string
        - name: Page
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: PageSize
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfParentAlertEntity'
              example:
                results: [ ]
                currentPage: 1
                pageCount: 1
                pageSize: 1
                rowCount: 1
                nextPage: String
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  '/people/{personId}/ParentAlert':
    get:
      tags:
        - People
        - Parent Alert
      summary: Get a person's parent alert record
      description: Get a person's parent alert record
      operationId: ParentAlert_GetParentAlertById
      parameters:
        - name: personId
          in: path
          description: 'Format - int32. The person id '
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParentAlertEntity'
              example:
                id: String
                personId: 1
                parentAlertPreference: String
                parentAlertHomePhone: false
                parentAlertCellPhone: false
                parentAlertWorkPhone: false
                parentAlertNoText: false
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    put:
      tags:
        - People
        - Parent Alert
      summary: Updates a person's parent alert information
      description: Updates a person's parent alert information
      operationId: ParentAlert_UpdateParentAlert
      parameters:
        - name: personId
          in: path
          description: Format - int32. The person id of the person being updated.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        description: 'The person entity with updates. '
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ParentAlertEntity'
            example:
              id: String
              personId: 1
              parentAlertPreference: String
              parentAlertHomePhone: false
              parentAlertCellPhone: false
              parentAlertWorkPhone: false
              parentAlertNoText: false
          application/json:
            schema:
              $ref: '#/components/schemas/ParentAlertEntity'
            example:
              id: String
              personId: 1
              parentAlertPreference: String
              parentAlertHomePhone: false
              parentAlertCellPhone: false
              parentAlertWorkPhone: false
              parentAlertNoText: false
          text/json:
            schema:
              $ref: '#/components/schemas/ParentAlertEntity'
            example:
              id: String
              personId: 1
              parentAlertPreference: String
              parentAlertHomePhone: false
              parentAlertCellPhone: false
              parentAlertWorkPhone: false
              parentAlertNoText: false
          application/*+json:
            schema:
              $ref: '#/components/schemas/ParentAlertEntity'
            example:
              id: String
              personId: 1
              parentAlertPreference: String
              parentAlertHomePhone: false
              parentAlertCellPhone: false
              parentAlertWorkPhone: false
              parentAlertNoText: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParentAlertEntity'
              example:
                id: String
                personId: 1
                parentAlertPreference: String
                parentAlertHomePhone: false
                parentAlertCellPhone: false
                parentAlertWorkPhone: false
                parentAlertNoText: false
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    patch:
      tags:
        - People
        - Parent Alert
      summary: Updates a person's parent alert information based on the json patch document
      description: Updates a person's parent alert information based on the json patch document
      operationId: ParentAlert_JsonPatchParentAlert
      parameters:
        - name: personId
          in: path
          description: 'Format - int32. The person id of the person being patched. '
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        description: 'The patch document with changes '
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          text/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/*+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParentAlertEntity'
              example:
                id: String
                personId: 1
                parentAlertPreference: String
                parentAlertHomePhone: false
                parentAlertCellPhone: false
                parentAlertWorkPhone: false
                parentAlertNoText: false
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  /people/ParentStudent:
    get:
      tags:
        - People
        - Parent Student
      summary: Gets a list of parents
      description: Gets a list of parents
      operationId: ParentStudent_GetParents
      parameters:
        - name: Filters
          in: query
          schema:
            type: string
        - name: Sorts
          in: query
          schema:
            type: string
        - name: Page
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: PageSize
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfParentStudentVM'
              example:
                results: [ ]
                currentPage: 1
                pageCount: 1
                pageSize: 1
                rowCount: 1
                nextPage: String
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    post:
      tags:
        - People
        - Parent Student
      summary: Creates a new parent student
      description: Creates a new parent student
      operationId: ParentStudent_CreateParentStudent
      parameters:
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ParentStudentVM'
            example:
              parentID: 1
              studentID: 1
              custody: false
              correspondence: false
              relationship: String
              grandparent: false
              emergencyContact: false
              reportCard: false
              pwBlock: false
              pickUp: false
              parentsWeb: false
              reEnroll: false
          application/json:
            schema:
              $ref: '#/components/schemas/ParentStudentVM'
            example:
              parentID: 1
              studentID: 1
              custody: false
              correspondence: false
              relationship: String
              grandparent: false
              emergencyContact: false
              reportCard: false
              pwBlock: false
              pickUp: false
              parentsWeb: false
              reEnroll: false
          text/json:
            schema:
              $ref: '#/components/schemas/ParentStudentVM'
            example:
              parentID: 1
              studentID: 1
              custody: false
              correspondence: false
              relationship: String
              grandparent: false
              emergencyContact: false
              reportCard: false
              pwBlock: false
              pickUp: false
              parentsWeb: false
              reEnroll: false
          application/*+json:
            schema:
              $ref: '#/components/schemas/ParentStudentVM'
            example:
              parentID: 1
              studentID: 1
              custody: false
              correspondence: false
              relationship: String
              grandparent: false
              emergencyContact: false
              reportCard: false
              pwBlock: false
              pickUp: false
              parentsWeb: false
              reEnroll: false
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParentStudentVM'
              example:
                parentID: 1
                studentID: 1
                custody: false
                correspondence: false
                relationship: String
                grandparent: false
                emergencyContact: false
                reportCard: false
                pwBlock: false
                pickUp: false
                parentsWeb: false
                reEnroll: false
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  '/people/ParentStudent/parent/{parentId}/student/{studentId}':
    get:
      tags:
        - Parent Student
        - People
      summary: Gets a single parent student
      description: Gets a single parent student
      operationId: ParentStudent_GetParentStudentById
      parameters:
        - name: parentId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: studentId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParentStudentVM'
              example:
                parentID: 1
                studentID: 1
                custody: false
                correspondence: false
                relationship: String
                grandparent: false
                emergencyContact: false
                reportCard: false
                pwBlock: false
                pickUp: false
                parentsWeb: false
                reEnroll: false
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    put:
      tags:
        - People
        - Parent Student
      summary: Replaces a parent student
      description: Replaces a parent student
      operationId: ParentStudent_ReplaceParentStudent
      parameters:
        - name: parentId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: studentId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ParentStudentVM'
            example:
              parentID: 1
              studentID: 1
              custody: false
              correspondence: false
              relationship: String
              grandparent: false
              emergencyContact: false
              reportCard: false
              pwBlock: false
              pickUp: false
              parentsWeb: false
              reEnroll: false
          application/json:
            schema:
              $ref: '#/components/schemas/ParentStudentVM'
            example:
              parentID: 1
              studentID: 1
              custody: false
              correspondence: false
              relationship: String
              grandparent: false
              emergencyContact: false
              reportCard: false
              pwBlock: false
              pickUp: false
              parentsWeb: false
              reEnroll: false
          text/json:
            schema:
              $ref: '#/components/schemas/ParentStudentVM'
            example:
              parentID: 1
              studentID: 1
              custody: false
              correspondence: false
              relationship: String
              grandparent: false
              emergencyContact: false
              reportCard: false
              pwBlock: false
              pickUp: false
              parentsWeb: false
              reEnroll: false
          application/*+json:
            schema:
              $ref: '#/components/schemas/ParentStudentVM'
            example:
              parentID: 1
              studentID: 1
              custody: false
              correspondence: false
              relationship: String
              grandparent: false
              emergencyContact: false
              reportCard: false
              pwBlock: false
              pickUp: false
              parentsWeb: false
              reEnroll: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParentStudentVM'
              example:
                parentID: 1
                studentID: 1
                custody: false
                correspondence: false
                relationship: String
                grandparent: false
                emergencyContact: false
                reportCard: false
                pwBlock: false
                pickUp: false
                parentsWeb: false
                reEnroll: false
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    patch:
      tags:
        - People
        - Parent Student
      summary: Update a parent student based on the json patch document
      description: Update a parent student based on the json patch document
      operationId: ParentStudent_UpdateParentStudent
      parameters:
        - name: parentId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: studentId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          text/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/*+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParentStudentVM'
              example:
                parentID: 1
                studentID: 1
                custody: false
                correspondence: false
                relationship: String
                grandparent: false
                emergencyContact: false
                reportCard: false
                pwBlock: false
                pickUp: false
                parentsWeb: false
                reEnroll: false
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  /People:
    get:
      tags:
        - Person
        - People
      summary: Gets a list of people
      description: Gets a list of people
      operationId: People_GetPeopleBase
      parameters:
        - name: Filters
          in: query
          schema:
            type: string
        - name: Sorts
          in: query
          schema:
            type: string
        - name: Page
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: PageSize
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPersonVM'
              example:
                results: [ ]
                currentPage: 1
                pageCount: 1
                pageSize: 1
                rowCount: 1
                nextPage: String
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  '/People/{personId}':
    get:
      tags:
        - Person
        - People
      summary: Get a person record
      description: Get a person record
      operationId: People_GetPersonBase
      parameters:
        - name: personId
          in: path
          description: 'Format - int32. The person id '
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonVM'
              example:
                personId: 1
                firstName: String
                lastName: String
                middleName: String
                nickName: String
                salutation: Mrs
                suffix: Jr.
                email: String
                email2: String
                username: String
                homePhone: 555-555-5555
                cellPhone: 555-555-5555
                addressID: 1
                deceased: false
                modifiedDate: '2020-01-01'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    put:
      tags:
        - Person
        - People
      summary: Updates a person
      description: Updates a person
      operationId: People_UpdatePersonBase
      parameters:
        - name: personId
          in: path
          description: Format - int32. The person id of the person being updated.
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        description: 'The person entity with updates. '
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PersonVM'
            example:
              personId: 1
              firstName: String
              lastName: String
              middleName: String
              nickName: String
              salutation: Mrs
              suffix: Jr.
              email: String
              email2: String
              username: String
              homePhone: 555-555-5555
              cellPhone: 555-555-5555
              addressID: 1
              deceased: false
              modifiedDate: '2020-01-01'
          application/json:
            schema:
              $ref: '#/components/schemas/PersonVM'
            example:
              personId: 1
              firstName: String
              lastName: String
              middleName: String
              nickName: String
              salutation: Mrs
              suffix: Jr.
              email: String
              email2: String
              username: String
              homePhone: 555-555-5555
              cellPhone: 555-555-5555
              addressID: 1
              deceased: false
              modifiedDate: '2020-01-01'
          text/json:
            schema:
              $ref: '#/components/schemas/PersonVM'
            example:
              personId: 1
              firstName: String
              lastName: String
              middleName: String
              nickName: String
              salutation: Mrs
              suffix: Jr.
              email: String
              email2: String
              username: String
              homePhone: 555-555-5555
              cellPhone: 555-555-5555
              addressID: 1
              deceased: false
              modifiedDate: '2020-01-01'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PersonVM'
            example:
              personId: 1
              firstName: String
              lastName: String
              middleName: String
              nickName: String
              salutation: Mrs
              suffix: Jr.
              email: String
              email2: String
              username: String
              homePhone: 555-555-5555
              cellPhone: 555-555-5555
              addressID: 1
              deceased: false
              modifiedDate: '2020-01-01'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonVM'
              example:
                personId: 1
                firstName: String
                lastName: String
                middleName: String
                nickName: String
                salutation: Mrs
                suffix: Jr.
                email: String
                email2: String
                username: String
                homePhone: 555-555-5555
                cellPhone: 555-555-5555
                addressID: 1
                deceased: false
                modifiedDate: '2020-01-01'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
    patch:
      tags:
        - People
        - Person
      summary: Updates a person based on the json patch document
      description: Updates a person based on the json patch document
      operationId: People_JsonPatchPersonBase
      parameters:
        - name: personId
          in: path
          description: 'Format - int32. The person id of the person being patched. '
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      requestBody:
        description: 'The patch document with changes '
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          text/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
          application/*+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
              - path: String
                op: String
                from: String
                value: { }
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonVM'
              example:
                personId: 1
                firstName: String
                lastName: String
                middleName: String
                nickName: String
                salutation: Mrs
                suffix: Jr.
                email: String
                email2: String
                username: String
                homePhone: 555-555-5555
                cellPhone: 555-555-5555
                addressID: 1
                deceased: false
                modifiedDate: '2020-01-01'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  /people/PublicSchools:
    get:
      tags:
        - Public Schools
        - People
      summary: Gets a list of people public school
      description: Gets a list of people public school
      operationId: PublicSchools_GetPersonPublicSchools
      parameters:
        - name: Filters
          in: query
          schema:
            type: string
        - name: Sorts
          in: query
          schema:
            type: string
        - name: Page
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: PageSize
          in: query
          description: Format - int32.
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPublicSchoolVM'
              example:
                results: [ ]
                currentPage: 1
                pageCount: 1
                pageSize: 1
                rowCount: 1
                nextPage: String
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: String
                title: String
                status: 1
                detail: String
                instance: String
                extensions: { }
  '/people/{personId}/PublicSchools':
    get:
      tags:
        - Public Schools
        - People
      summary: Get a person's public schools record
      description: Get a person's public schools record
      operationId: PublicSchools_GetPersonPublicSchoolsById
      parameters:
        - name: personId
          in: path
          description: 'Format - int32. The person id '
          required: true
          schema:
            type: integer
        - name: api-version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSchoolVM'
              example:
                personId: 12345
                publicSchoolDistrict: District Name
[...]
